### Build files  ###
.gradle
build
*.log
dist

### IntelliJ ###
*.iml
*.ipr
*.iws

*.idea


### Eclipse ###
.metadata
bin
out
*.tmp
*.bak
*.swp
*~.nib
.settings
.loadpath
.recommenders
.project
.classpath

### Mac Finder matadata file###
.DS_Store
